# Ignore EVERYTHING
*

# Allow folder traversal
!*/

# Allow only Glitch/Assets
!Glitch/
!Glitch/Assets/**/*.asset
!Glitch/Assets/**/*.cs

# Always include gitignore
!.gitignore

# ----------------------------
# Exclude specific file types
# ----------------------------
Glitch/Assets/**/*.ogg
Glitch/Assets/**/*.wav
Glitch/Assets/**/*.png
Glitch/Assets/**/*.psd
Glitch/Assets/**/*.meta
Glitch/Assets/**/*.shader
Glitch/Assets/**/*.mat
Glitch/Assets/**/*.prefab
Glitch/Assets/Settings/**
Glitch/Assets/TextMesh Pro/**
Glitch/Assets/Plugins/**
Glitch/Assets/Game/Fonts/**
Glitch/Assets/Game/Audio/**
Glitch/Assets/Game/VFX/**
Glitch/Assets/UniversalRP.asset
Glitch/Assets/UniversalRenderPipelineGlobalSettings.asset
Glitch/Assets/UIShaderEffects-EdgeEffects/**
Glitch/Assets/Renderer2D.asset